@model FrontHS2020MVC.ViewModels.ProductsSearchViewModel
@{
    ViewData["Title"] = "Buscar productos";
}


@section Styles {
    <link rel="stylesheet" href="~/lib/tagify/tagify.css" />
}

<h3>Busqueda de productos</h3>

<p>Max num sugerencias: @Model.MaxSuggestedProducts</p>
<p>Max num resultados predictivos: @Model.MaxProductNamesInSearch</p>


<div class="form-group">
    <label for="serachText">Nombre del producto</label>
    <!-- Desde este control se limitan la cantidad de sugerencias para el usuario -->
    <input type="text" class="form-control" name="searchText" id="searchText" aria-describedby="searchHelp" data-max-suggested-items="5" />
    <small id="searchHelp" class="form-text text-muted">Ingrese el nombre del producto que desea encontrar</small>
</div>
<div class="form-group">
    <button class="btn btn-primary" id="search-products-button">Buscar</button>
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Cliente</th>
            <th scope="col">Nombre producto</th>
            <th scope="col">Descripción</th>
            <th scope="col">Precio</th>
        </tr>
    </thead>
    <tbody id="search-prods-result">
    </tbody>
</table>


@section Scripts
{
    <script src="~/lib/tagify/tagify.min.js"></script>
    <script src="~/js/Products/Search.js"></script>
}