@page "/productsupload"

<h3>Cargar productos</h3>

<div class="custom-file">
    <input type="file" class="custom-file-input" id="productsFile" name="productsFile" lang="es">
    <label class="custom-file-label" for="productsFile">Seleccione un archivo</label>
</div>


@code {
    
}
